##############################
# generic conf for gitignore
#
# Add more as seen fit
#############################

# build
build/

# simulation artifacts
vsim/*
!vsim/Makefile
!vsim/README.md

# image test output
src/tb/img_out/*

# Vivado files
vivado*
.Xil/

# Bender
.bender

# apb_i2c
src/rtl/apb_i2c