##############################
# generic conf for gitignore
#
# Add more as seen fit
#############################
work/
*_output/
*.log
.visualizer/
modelsim.ini

# build
build/

# simulation artifacts
vsim/wlf*
vsim/*.wlf
vsim/.nfs*
vsim/*.vstf
xgui/
etch11233
transcript

# image test output
src/tb/img_out/output_file.yuv

# vivado files
vivado*
.Xil/

# bender
.bender

# apb_i2c
src/rtl/apb_i2c